.overlay-left{
    border-image:  linear-gradient(
        to right,
        #2e2c2ccd,
        #ff4b2b00
    ) fill 1;
}
.overlay-bg{
    border-image:   linear-gradient(
        #2e2c2ccd,
        #ff4b2b00
    ) fill 1;
}
.slider-heading h1, .slider-heading p {
    color: #fff;
}

p{
    font-size: 16px;
}
.slider-sub-heading{
    font-size: 18px;
}

.services  ul{
        padding-inline-start: 20px !important;
    
}

.projects img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.service-card{
    border-top: 3px solid #f15558;
border-radius: 7px;
}

.service-card img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.service-card-image-card{
    text-align: center;
}

.navbar-icon{
    font-size: larger !important;
}

@media screen and (max-width: 768px) {
    .site-menu-toggle{
        margin-right: 20px;
    }
}